#!/usr/bin/env bash

#==============================================================================
# Installing pip packages
#==============================================================================

#!/bin/bash

# install pip if not already installed
if command -v pip >/dev/null 2>&1; then
  echo "Installing pip packages"
  pip install yt-dlp
else
  echo "pip not found, skipping..."
