#!/usr/bin/env bash

#==============================================================================
# install nvm (https://github.com/nvm-sh/nvm)
#==============================================================================

{{ if eq .chezmoi.os "linux" -}}

# install nvm if not already installed
if command -v nvm >/dev/null 2>&1; then
  echo "nvm is already installed"
else
  echo "nvm binary not found, installing..."
  # install nvm
  curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
fi

{{end}}

