#!/usr/bin/env bash

#==============================================================================
# install rustup (https://rustup.rs/)
#==============================================================================


install_rustup() {
  # install rustup if not already installed
  if command -v rustup >/dev/null 2>&1; then
    echo "rustup is already installed"
    exit
  fi
  echo "rustup binary not found, installing..."
  # install rustup
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
}

install_rustup
