#!/usr/bin/env bash

#==============================================================================
# install bun (https://github.com/pyenv/pyenv/)
#==============================================================================

{{ if eq .chezmoi.os "linux" -}}

# install pyenv if not already installed
if command -v pyenv >/dev/null 2>&1; then
  echo "pyenv is already installed"
else
  echo "pyenv binary not found, installing..."
  # install pyenv
  curl -fsSL https://pyenv.run | bash
fi

{{end}}