#!/usr/bin/env bash

#==============================================================================
# Installing packages from apt
#==============================================================================

#!/bin/bash

# Function to check if a package is installed
check_installed() {
    if dpkg -s "$1" &> /dev/null; then
        return 0  # Package is installed
    else
        return 1  # Package is not installed
    fi
}

# Function to install a package
install_package() {
    sudo apt-get install -y "$1"
    echo "$1 has been installed successfully."
}

# Array of package names

packages=("adb" "appflowy" "cheese" "docker-compose" "docker-compose-plugin" "firmware-iwlwifi" "firmware-linux" "firmware-realtek" "flatpak" "gzip" "hugo" "libegl1-mesa-dev" "lsb-release" "pgadmin4-desktop" "sigil")


# Iterate over each package
for pkg in "${packages[@]}"; do
    if ! check_installed "$pkg"; then
        install_package "$pkg"
    fi
done
